* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  padding: 30px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  width: 220px;
  height: 250px;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.icon {
  font-size: 40px;
}

h2 {
  font-size: 20px;
  font-weight: 400;
}

p {
  font-size: 16px;
}

.facebook {
  background-color: #619bec;
}

.twitter {
  background-color: #31c8dd;
}

.google {
  background-color: #f78153;
}

.pinterest {
  background-color: #f75354;
}
